In [1]:
#Import libraries
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, '../ML-Custom-Functions')
from CustomFunctions import *

In [2]:
#import datasets
train = pd.read_csv('store-sales-time-series-forecasting/train.csv')
test = pd.read_csv('store-sales-time-series-forecasting/test.csv')
holidays_events = pd.read_csv('store-sales-time-series-forecasting/holidays_events.csv')
oil = pd.read_csv('store-sales-time-series-forecasting/oil.csv')
stores = pd.read_csv('store-sales-time-series-forecasting/stores.csv')
transactions = pd.read_csv('store-sales-time-series-forecasting/transactions.csv')

dataSetList = [train,test,holidays_events,oil,stores,transactions]

# Merging Tables

In [3]:
for table in dataSetList:
    print (f'Table name:')
    showDataInfo(table,features_to_display = 'All', display_data_frame = True)

Table name:
features selected: ['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion']
   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0
Total number of rows: 3000888
id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
dtype: object
Table name:
features selected: ['id', 'date', 'store_nbr', 'family', 'onpromotion']
        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0
Total number of rows: 28512
id              int64
date           object
store_nbr       int64
family         object
onpromotion     int64
dtype: object
Table name:
features selected: ['date', 'type', 'locale', 'locale_name', 'description', 'transferred']
         date     type    locale locale_name                    description  \
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False
Total number of rows: 350
date           object
type           object
locale         object
locale_name    object
description    object
transferred      bool
dtype: object
Table name:
features selected: ['date', 'dcoilwtico']
         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20
Total number of rows: 1218
date           object
dcoilwtico    float64
dtype: object
Table name:
features selected: ['store_nbr', 'city', 'state', 'type', 'cluster']
   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
Total number of rows: 54
store_nbr     int64
city         object
state        object
type         object
cluster       int64
dtype: object
Table name:
features selected: ['date', 'store_nbr', 'transactions']
         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922
Total number of rows: 83488
date            object
store_nbr        int64
transactions     int64
dtype: object

In [4]:
trainDf = train.merge(holidays_events,how='left',on='date')
trainDf

,id,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,description,transferred
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False
1,1,2013-01-01,1,BABY CARE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False
2,2,2013-01-01,1,BEAUTY,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False
3,3,2013-01-01,1,BEVERAGES,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False
4,4,2013-01-01,1,BOOKS,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...
3054343,3000883,2017-08-15,9,POULTRY,438.133,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054344,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054345,3000885,2017-08-15,9,PRODUCE,2419.729,148,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054346,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054347,3000887,2017-08-15,9,SEAFOOD,16.000,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False

In [5]:
trainDf1 = trainDf.merge(oil,how='left',on='date')
trainDf1

,id,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,description,transferred,dcoilwtico
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN
1,1,2013-01-01,1,BABY CARE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN
2,2,2013-01-01,1,BEAUTY,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN
3,3,2013-01-01,1,BEVERAGES,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN
4,4,2013-01-01,1,BOOKS,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3054343,3000883,2017-08-15,9,POULTRY,438.133,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57
3054344,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57
3054345,3000885,2017-08-15,9,PRODUCE,2419.729,148,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57
3054346,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57
3054347,3000887,2017-08-15,9,SEAFOOD,16.000,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57

In [9]:
# renaming the "type" column of stores to "store_type"
stores = stores.rename(columns={"type":"store_type"})

In [10]:
trainDf2 = trainDf1.merge(stores, how='left',on='store_nbr')
trainDf2

,id,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,description,transferred,dcoilwtico,city,state,store_type,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13
2,2,2013-01-01,1,BEAUTY,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13
3,3,2013-01-01,1,BEVERAGES,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13
4,4,2013-01-01,1,BOOKS,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054343,3000883,2017-08-15,9,POULTRY,438.133,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6
3054344,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6
3054345,3000885,2017-08-15,9,PRODUCE,2419.729,148,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6
3054346,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6
3054347,3000887,2017-08-15,9,SEAFOOD,16.000,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6

In [11]:
trainDf3 = trainDf2.merge(transactions,how='left',on=['date','store_nbr'])
trainDf3

,id,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,description,transferred,dcoilwtico,city,state,store_type,cluster,transactions
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
1,1,2013-01-01,1,BABY CARE,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
2,2,2013-01-01,1,BEAUTY,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
3,3,2013-01-01,1,BEVERAGES,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
4,4,2013-01-01,1,BOOKS,0.000,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054343,3000883,2017-08-15,9,POULTRY,438.133,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6,2155.0
3054344,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6,2155.0
3054345,3000885,2017-08-15,9,PRODUCE,2419.729,148,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6,2155.0
3054346,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6,2155.0
3054347,3000887,2017-08-15,9,SEAFOOD,16.000,0,Holiday,Local,Riobamba,Fundacion de Riobamba,False,47.57,Quito,Pichincha,B,6,2155.0

In [15]:
showDataInfo(trainDf3,features_to_display = 'transferred',display_data_frame = True,show_data_details=True)

features selected: transferred
0    False
1    False
2    False
3    False
4    False
Name: transferred, dtype: object
Total number of rows: 3054348
object

KeyError: 't'

In [3]:
showDataInfo(train,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion']
   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0
id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
dtype: object
Feature: id---------Type: int64
id: Max:3000887, Min:0, Median:1500443.500 Mean:1500443.500, std:866281.892, Mode:0                0
1                1
2                2
3                3
4                4
            ...
3000883    3000883
3000884    3000884
3000885    3000885
3000886    3000886
3000887    3000887
Name: id, Length: 3000888, dtype: int64, Skewness:-0.000
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: date---------Type: object
date(1684 unique values:)
2013-01-01: 1782
2013-01-02: 1782
2013-01-03: 1782
2013-01-04: 1782
2013-01-05: 1782
2013-01-06: 1782
2013-01-07: 1782
2013-01-08: 1782
2013-01-09: 1782
2013-01-10: 1782
2013-01-11: 1782
...more than 10 unique value detected, consider feature type conversioin


Feature: store_nbr---------Type: int64
store_nbr: Max:54, Min:1, Median:27.500 Mean:27.500, std:15.586, Mode:0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
Name: store_nbr, dtype: int64, Skewness:0.000
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: family---------Type: object
family(33 unique values:)
AUTOMOTIVE: 90936
BABY CARE: 90936
BEAUTY: 90936
BEVERAGES: 90936
BOOKS: 90936
BREAD/BAKERY: 90936
CELEBRATION: 90936
CLEANING: 90936
DAIRY: 90936
DELI: 90936
EGGS: 90936
...more than 10 unique value detected, consider feature type conversioin


Feature: sales---------Type: float64
sales: Max:124717.0, Min:0.0, Median:11.000 Mean:357.776, std:1101.998, Mode:0    0.0
Name: sales, dtype: float64, Skewness:7.359
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: onpromotion---------Type: int64
onpromotion: Max:741, Min:0, Median:0.000 Mean:2.603, std:12.219, Mode:0    0
Name: onpromotion, dtype: int64, Skewness:11.167
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed

In [4]:
train1 = preprocessing(train, feature_selected ='date',preprocess_type = 'dataTypeConvert', convert_to = 'datetime')
train2 = preprocessing(train1, feature_selected ='family',preprocess_type = 'dataTypeConvert', convert_to = 'category')

Function: preprocessing called
features selected: date
Function: preprocessing called
features selected: family

In [5]:
showDataInfo(test,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['id', 'date', 'store_nbr', 'family', 'onpromotion']
        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0
id              int64
date           object
store_nbr       int64
family         object
onpromotion     int64
dtype: object
Feature: id---------Type: int64
id: Max:3029399, Min:3000888, Median:3015143.500 Mean:3015143.500, std:8230.850, Mode:0        3000888
1        3000889
2        3000890
3        3000891
4        3000892
          ...
28507    3029395
28508    3029396
28509    3029397
28510    3029398
28511    3029399
Name: id, Length: 28512, dtype: int64, Skewness:0.000
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: date---------Type: object
date(16 unique values:)
2017-08-16: 1782
2017-08-17: 1782
2017-08-18: 1782
2017-08-19: 1782
2017-08-20: 1782
2017-08-21: 1782
2017-08-22: 1782
2017-08-23: 1782
2017-08-24: 1782
2017-08-25: 1782
2017-08-26: 1782
...more than 10 unique value detected, consider feature type conversioin


Feature: store_nbr---------Type: int64
store_nbr: Max:54, Min:1, Median:27.500 Mean:27.500, std:15.586, Mode:0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
Name: store_nbr, dtype: int64, Skewness:0.000
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: family---------Type: object
family(33 unique values:)
AUTOMOTIVE: 864
BABY CARE: 864
BEAUTY: 864
BEVERAGES: 864
BOOKS: 864
BREAD/BAKERY: 864
CELEBRATION: 864
CLEANING: 864
DAIRY: 864
DELI: 864
EGGS: 864
...more than 10 unique value detected, consider feature type conversioin


Feature: onpromotion---------Type: int64
onpromotion: Max:646, Min:0, Median:0.000 Mean:6.965, std:20.684, Mode:0    0
Name: onpromotion, dtype: int64, Skewness:8.496
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed

In [6]:
test1 = preprocessing(test, feature_selected ='date',preprocess_type = 'dataTypeConvert', convert_to = 'datetime')
test2 = preprocessing(test1, feature_selected ='family',preprocess_type = 'dataTypeConvert', convert_to = 'category')

Function: preprocessing called
features selected: date
Function: preprocessing called
features selected: family

In [7]:
showDataInfo(holidays_events,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['date', 'type', 'locale', 'locale_name', 'description', 'transferred']
         date     type    locale locale_name                    description  \
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False
date           object
type           object
locale         object
locale_name    object
description    object
transferred      bool
dtype: object
Feature: date---------Type: object
date(312 unique values:)
2012-03-02: 1
2012-04-01: 1
2012-04-12: 1
2012-04-14: 1
2012-04-21: 1
2012-05-12: 1
2012-06-23: 1
2012-06-25: 3
2012-07-03: 2
2012-07-23: 1
2012-08-05: 1
...more than 10 unique value detected, consider feature type conversioin


Feature: type---------Type: object
type(6 unique values:)
Additional: 51
Bridge: 5
Event: 56
Holiday: 221
Transfer: 12
Work Day: 5


Feature: locale---------Type: object
locale(3 unique values:)
Local: 152
National: 174
Regional: 24


Feature: locale_name---------Type: object
locale_name(24 unique values:)
Ambato: 12
Cayambe: 6
Cotopaxi: 6
Cuenca: 7
Ecuador: 174
El Carmen: 6
Esmeraldas: 6
Guaranda: 12
Guayaquil: 11
Ibarra: 7
Imbabura: 6
...more than 10 unique value detected, consider feature type conversioin


Feature: description---------Type: object
description(103 unique values:)
Batalla de Pichincha: 5
Black Friday: 3
Cantonizacion de Cayambe: 6
Cantonizacion de El Carmen: 6
Cantonizacion de Guaranda: 6
Cantonizacion de Latacunga: 6
Cantonizacion de Libertad: 6
Cantonizacion de Quevedo: 6
Cantonizacion de Riobamba: 6
Cantonizacion de Salinas: 6
Cantonizacion del Puyo: 6
...more than 10 unique value detected, consider feature type conversioin


Feature: transferred---------Type: bool
False    338
True      12
Name: transferred, dtype: int64

In [8]:
holidays_events1 = preprocessing(holidays_events, feature_selected ='type,locale,locale_name,description',preprocess_type = 'dataTypeConvert', convert_to = 'category')
holidays_events2 = preprocessing(holidays_events1, feature_selected ='date',preprocess_type = 'dataTypeConvert', convert_to = 'datetime')

Function: preprocessing called
features selected: ['type', 'locale', 'locale_name', 'description']
Function: preprocessing called
features selected: date

In [9]:
showDataInfo(holidays_events2,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['date', 'type', 'locale', 'locale_name', 'description', 'transferred']
        date     type    locale locale_name                    description  \
0 2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1 2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2 2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3 2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4 2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False
date           datetime64[ns]
type                 category
locale               category
locale_name          category
description          category
transferred              bool
dtype: object
Feature: date---------Type: datetime64[ns]
Oldest Date: 2012-03-02 00:00:00
Newest Date: 2017-12-26 00:00:00


Feature: type---------Type: category
Holiday       221
Event          56
Additional     51
Transfer       12
Bridge          5
Work Day        5
Name: type, dtype: int64


Feature: locale---------Type: category
National    174
Local       152
Regional     24
Name: locale, dtype: int64


Feature: locale_name---------Type: category
Ecuador                           174
Quito                              13
Ambato                             12
Guaranda                           12
Riobamba                           12
Latacunga                          12
Guayaquil                          11
Cuenca                              7
Ibarra                              7
Manta                               6
Santo Domingo                       6
Santa Elena                         6
Salinas                             6
Quevedo                             6
Puyo                                6
Libertad                            6
Machala                             6
Loja                                6
Cayambe                             6
Imbabura                            6
Esmeraldas                          6
El Carmen                           6
Cotopaxi                            6
Santo Domingo de los Tsachilas      6
Name: locale_name, dtype: int64


Feature: description---------Type: category
Carnaval                                 10
Fundacion de Cuenca                       7
Fundacion de Ibarra                       7
Navidad+1                                 6
Navidad                                   6
                                         ..
Terremoto Manabi+14                       1
Terremoto Manabi+16                       1
Terremoto Manabi+17                       1
Inauguracion Mundial de futbol Brasil     1
Terremoto Manabi+15                       1
Name: description, Length: 103, dtype: int64


Feature: transferred---------Type: bool
False    338
True      12
Name: transferred, dtype: int64

In [10]:
showDataInfo(oil,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['date', 'dcoilwtico']
         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20
date           object
dcoilwtico    float64
dtype: object
Feature: date---------Type: object
date(1218 unique values:)
2013-01-01: 1
2013-01-02: 1
2013-01-03: 1
2013-01-04: 1
2013-01-07: 1
2013-01-08: 1
2013-01-09: 1
2013-01-10: 1
2013-01-11: 1
2013-01-14: 1
2013-01-15: 1
...more than 10 unique value detected, consider feature type conversioin


Feature: dcoilwtico---------Type: float64
dcoilwtico: contains 43 missing values (out of 1218), needs handling

dcoilwtico: Max:110.62, Min:26.19, Median:53.190 Mean:67.714, std:25.630, Mode:0    46.02
1    47.65
2    47.72
3    60.01
4    93.12
5    96.44
Name: dcoilwtico, dtype: float64, Skewness:0.322
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed

In [11]:
oil1 = preprocessing(oil, feature_selected ='date',preprocess_type = 'dataTypeConvert', convert_to = 'datetime')

Function: preprocessing called
features selected: date

In [12]:
oil2 = preprocessing(oil1, feature_selected ='dcoilwtico',preprocess_type = 'handleMissingValue',missing_value_handle = 'removeMissingValue')

Function: preprocessing called
features selected: dcoilwtico

In [18]:
showDataInfo(stores,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['store_nbr', 'city', 'state', 'type', 'cluster']
   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
store_nbr     int64
city         object
state        object
type         object
cluster       int64
dtype: object
Feature: store_nbr---------Type: int64
store_nbr: Max:54, Min:1, Median:27.500 Mean:27.500, std:15.732, Mode:0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
Name: store_nbr, dtype: int64, Skewness:0.000
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: city---------Type: object
city(22 unique values:)
Ambato: 2
Babahoyo: 1
Cayambe: 1
Cuenca: 3
Daule: 1
El Carmen: 1
Esmeraldas: 1
Guaranda: 1
Guayaquil: 8
Ibarra: 1
Latacunga: 2
...more than 10 unique value detected, consider feature type conversioin


Feature: state---------Type: object
state(16 unique values:)
Azuay: 3
Bolivar: 1
Chimborazo: 1
Cotopaxi: 2
El Oro: 2
Esmeraldas: 1
Guayas: 11
Imbabura: 1
Loja: 1
Los Rios: 2
Manabi: 3
...more than 10 unique value detected, consider feature type conversioin


Feature: type---------Type: object
type(5 unique values:)
A: 9
B: 8
C: 15
D: 18
E: 4


Feature: cluster---------Type: int64
cluster: Max:17, Min:1, Median:8.500 Mean:8.481, std:4.693, Mode:0    3
Name: cluster, dtype: int64, Skewness:0.041
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed

In [19]:
stores1 = preprocessing(stores, feature_selected ='city,state,type',preprocess_type = 'dataTypeConvert', convert_to = 'category')

Function: preprocessing called
features selected: ['city', 'state', 'type']

In [24]:
showDataInfo(stores,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['store_nbr', 'city', 'state', 'type', 'cluster']
   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
store_nbr       int64
city         category
state        category
type         category
cluster         int64
dtype: object
Feature: store_nbr---------Type: int64
store_nbr: Max:54, Min:1, Median:27.500 Mean:27.500, std:15.732, Mode:0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
50    51
51    52
52    53
53    54
Name: store_nbr, dtype: int64, Skewness:0.000
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: city---------Type: category
Quito            18
Guayaquil         8
Santo Domingo     3
Cuenca            3
Manta             2
Machala           2
Latacunga         2
Ambato            2
Guaranda          1
Ibarra            1
Esmeraldas        1
Babahoyo          1
Loja              1
El Carmen         1
Daule             1
Playas            1
Puyo              1
Quevedo           1
Cayambe           1
Riobamba          1
Salinas           1
Libertad          1
Name: city, dtype: int64


Feature: state---------Type: category
Pichincha                         19
Guayas                            11
Azuay                              3
Manabi                             3
Santo Domingo de los Tsachilas     3
Cotopaxi                           2
El Oro                             2
Los Rios                           2
Tungurahua                         2
Bolivar                            1
Chimborazo                         1
Esmeraldas                         1
Imbabura                           1
Loja                               1
Pastaza                            1
Santa Elena                        1
Name: state, dtype: int64


Feature: type---------Type: category
D    18
C    15
A     9
B     8
E     4
Name: type, dtype: int64


Feature: cluster---------Type: int64
cluster: Max:17, Min:1, Median:8.500 Mean:8.481, std:4.693, Mode:0    3
Name: cluster, dtype: int64, Skewness:0.041
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed

In [25]:
showDataInfo(transaction,features_to_display = 'All',display_data_frame = True,show_data_details=True)

features selected: ['date', 'store_nbr', 'transactions']
         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922
date            object
store_nbr        int64
transactions     int64
dtype: object
Feature: date---------Type: object
date(1682 unique values:)
2013-01-01: 1
2013-01-02: 46
2013-01-03: 46
2013-01-04: 46
2013-01-05: 46
2013-01-06: 46
2013-01-07: 46
2013-01-08: 46
2013-01-09: 46
2013-01-10: 46
2013-01-11: 46
...more than 10 unique value detected, consider feature type conversioin


Feature: store_nbr---------Type: int64
store_nbr: Max:54, Min:1, Median:27.000 Mean:26.939, std:15.608, Mode:0    26
1    31
2    33
3    34
4    37
5    38
6    39
Name: store_nbr, dtype: int64, Skewness:0.003
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed


Feature: transactions---------Type: int64
transactions: Max:8359, Min:5, Median:1393.000 Mean:1694.602, std:963.287, Mode:0    1207
Name: transactions, dtype: int64, Skewness:1.518
(-0.5 < skewness < 0.5) -> fairly symmetrical
(-1 < skewness < -0.5) or (0.5 < skewness < 1) -> moderately skewed
(skewness < -1) or ( 1 < skewness) -> highly skewed