In [18]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [19]:
table = pd.DataFrame({'feature1':[3,5,np.nan],'feature2':[4,1,np.nan],'feature3':[6,7,3]})
table

   feature1  feature2  feature3
0       3.0       4.0         6
1       5.0       1.0         7
2       NaN       NaN         3

In [24]:
def missingValueHandle(dataframe,feature):
    df = dataframe
    df[feature] = df[feature].fillna(axis = 0, method = 'ffill')
    imp = SimpleImputer(strategy = 'mean')
#     df[feature] = imp.fit_transform(df[[feature]])
    df = imp.fit_transform(df)
    return df

In [25]:
new_dataframe = missingValueHandle(dataframe=table,feature = 'feature1')

In [26]:
new_dataframe

array([[3. , 4. , 6. ],
       [5. , 1. , 7. ],
       [5. , 2.5, 3. ]])

In [27]:
table

   feature1  feature2  feature3
0       3.0       4.0         6
1       5.0       1.0         7
2       5.0       NaN         3